---
---

@import "{{ site.theme }}";

.fyi {
  background-color: yellow;
  color: black;
}

#sponsored {
  background-color: #0299e5;
  color: white;
  border-radius: 20px;
  margin-left: 120px;
  padding: 3px;
  font-size: small;
}
